
body {
  background-color: #57b5d1;
  font: normal 15pt arial;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  width: 600px;
  padding: 15px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.349);
  margin: auto;
}

.title{
  margin-top: 15vh;
}

.title,.copyright{
  color: #fff;
  text-align: center;
}

.copyright{
  font-style: italic;
}

#flista{
  width: 150px;
}
